.carousel {
    height: 300px;
  }
  @media (min-width: 768px) {
    .carousel {
      height: 500px;
    }
  }
  .carousel-item {
      height: 300px;
    }
    @media (min-width: 768px) {
      .carousel-item {
        height: 500px;
      }
    }